<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>G49LBlYb+mnxG255BL9dhHRGohqhqcgkfyc6UrVzVRLVrKO9VK1gL4BJ/b4i4gQQM60xUoEXg9MeohW2lDt2uoFwoI/5SAQ/7ujgScHqPRqEJuowXdWFTSQIuhMVD2dy9pTAptpU8qpNxsv9w+kcAZCdIbmPtTOyJ+yUrYeVXo9ja8hgbVXV16r/ySKSXAgc1S+4hp8/IqF2wFtUkB1YfL3vbco6rb5txsRyFA4j+5m2/wcSTpDGSRW1lSJ5SQ70rkmdA25m9NGyBIhFQ/7lnWV46bBvOKR8lS1B0bhb1/kipdV+EYMr+bR3WRwCQ26cHbkDTv/mzPvnMJn7Ms5WMA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>0EFnZjH2XT0Mn8RjU5Iq4YMCR08wnCw8IxrqGazo7h8=</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>